@media screen and (min-width: 1140px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1140px) {
  .container{
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 932px) {
  .footer-links{
    max-width: 636px !important;
    text-align: center;
  }
  .footer-links ul{
    padding-left: 0px;
  }
}
@media screen and (max-width: 797px){
    .blurb h3{
      font-size: 22px !important;
    }
    #menu-icon {
      display: inline-block !important;
      color: white;
      font-size: 25px;
      position: absolute;
      margin-right: 15px;
      top: 55px;
      right: 15px;
    }
    nav{
      display: none;
    }
    #main-menu{
      width: 100%;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      margin-top: 15px;
    }
    #main-menu ul li{
      display: block;
    }
}
@media screen and (max-width: 732px){
  .blurb{
    width: 46.66% !important;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 619px) {
  #main-heading-and-cta h1{
    font-size: 35px !important;
  }
}
@media screen and (max-width: 404px) {
  #main-heading-and-cta h1{
    font-size: 25px !important;
  }
  .blurb{
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 320px) {
  .big-button{
    font-size: 15px !important;
  }
}

.container{
    max-width: 1140px;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
.big-button{
  padding: 25px 90px 25px 90px;
  color: white;
}
/* Section 1 */
#section-1{
background-color: #87509c;
min-height: 595px;
}
header{
  padding-top: 55px;
}
nav{
  float: right;
}
nav ul li{
  display: inline-block;
  padding: 10px 16px 10px 16px;
  text-transform: uppercase;
}
nav ul li.active{
  background-color: #643a79;
  border-radius: 5px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
#main-heading-and-cta{
  margin-top: 145px;
  text-align: center;
}
#main-heading-and-cta h1{
  color: white;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 60px;
}
#main-heading-and-cta a{
  text-decoration: none;
  background-color: #eb7d4b;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
}

/* Section 2*/
#section-2{
background-color: #17c2a4;
min-height: 745px;
color: white;
}
.title-box{
  text-align: center;
  max-width: 609px;
  margin-left: auto;
  margin-right: auto;
}
.title-box h2{
  margin-top: 0;
  padding-top: 120px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title-box .line{
  width: 87px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.title-box p{
  font-size: 18px;
}
.blurb-row{
  margin-top: 80px;
}
.blurb{
  width: 23.33%;
  display: inline-table;
  text-align: center;
}
.blurb h3{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 60px;
}
.blurb p{
  font-size: 16px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Section 3*/
#section-3{
background-color: #3c5499;
min-height: 820px;
color: white;
}
#contact-form {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"],input[type="email"], textarea {
  color: white;
  background-color: #273a71;
  border: none;
  font-size: 18px;
  margin: 16px;
  border-radius: 5px;
  padding-left: 16px;
}
input[type="text"]::placeholder,input[type="email"]::placeholder, textarea::placeholder{
  color: white;
}
input[type="text"],input[type="email"]{
  width: 50%;
  height: 56px;
}
textarea{
  height: 200px;
  width: 100%;
  padding-top: 24px;
}
.form-row{
  display: flex;
}
input[type="submit"]{
  background-color: #30bae7;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* Footer */
footer{
  background-color: #344b8e;
}
.footer-links {
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}
.footer-links ul {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-links ul li{
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
.footer-links ul li a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.footer-links ul li.active a{
  color: #30bae7;
}
